body {
  padding: 20px;
}
header {
  margin-bottom: 15px;
}
header nav a {
  margin-right: 15px;
}
.space-button-a button {
  margin: 5px 3px;
}
.space-button-a a {
  color: black;
  font-weight: 500;
  margin: 7px 5px;
}
.space-button-a h5,
.space-button-a h5 a {
  color: brown;
}
.space-button-a h5,
.space-button-a p {
  display: inline-block;
}

a {
  text-decoration: none;
}
p a {
  color: black;
}