body {
  padding: 20px;
}
header {
  margin-bottom: 15px;
}
.space-button-a button {
  margin: 5px 3px;
}
.space-button-a a {
  color: black;
  font-weight: 500;
  margin: 7px 5px;
}
.space-button-a h4,
.space-button-a h4 a {
  color: brown;
}
